@import "./_vars";

.folio {
  .hero-body {
    padding: 1.5rem;
    h1, h2 {
     font-size: $size-7 !important;
    }
  }

  .tile {
    & > .section {
      padding: 0;
      padding-right: 1.5rem;
    }
  }

  aside {
    &.menu {
      background: $grey-lightest;
      height: 100%;
      min-height: $app-height ;
    }
  }

  .app-logo {
    background: $grey-lightest;
    padding: $panel-heading-padding;
    padding-bottom: 1em;
    h1 {
      font-size: $size-2;
    }
  }
  .menu-list a.is-active {
    background: $white;
  }
}
