@import "./_vars";
@import "./_sprites";
@import "./_themes";

.folio {
  .tile {
    & > .section {
      padding: 0;
      padding-right: 1.5rem;
    }
    &.is-parent{
      padding: 0.75rem 0.5rem;
    }
  }

  aside {
    &.menu {
      height: 100%;
      min-height: $app-height ;
    }
  }

  .app-logo {
    padding: $panel-heading-padding;
    padding-bottom: 1em;
    h1 {
      font-size: $size-2;
    }
  }

  .sort-wrapper {
    button {
      border: none;
      padding: 0;
      margin: 0 5px;
      &:disabled {
          border-bottom: none;
          font-weight: bold;
          cursor: default;
      }
    }
  }

  .views-wrapper {
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid $grey;
    div {
      position: absolute;
      margin-bottom: 2px;
      bottom: 0;
      a {
        padding: 10px 10px 5px 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $grey;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
        color: $grey;
        &:hover {
          color: $grey-light;
        }
        &.active {
          color: $white;
          border: 1px solid $grey;
          border-bottom: 1px solid $grey-dark;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  .watchlist-card {
    height: 5rem;
  }
  .grid {
    margin: 0;
    padding: 0;
    .grid-item {
      margin-bottom: 5px;
      width: 300px;
    }
  }
  .edit-quantity {
    cursor: pointer;
  }

  .wallets-wrapper {
    .wallet-wrapper {
      padding: 5px 2px;
      margin-bottom: 10px;
      table {
        margin: 0;
        td {
          padding: 0.1em;
        }
      }
      a {
        &.add-wallet {
          float: right;
        }
      }
      .wallet {
        padding: 2px 0;
        .edit-wallet-address {
          width: 64em;
        }
      }
    }
  }
}


.storyblok-button {
  border: none;
  color: $white;
  box-sizing: border-box;
  padding: 0 28px;
  line-height: 52px;
  min-height: 52px;
  font-size: 1.3rem;
  text-decoration: none;
  overflow: visible;
  display: inline-block;
  text-transform: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  transition: all;
  &.teal {
    background-color: #09b3af;
    background: -moz-linear-gradient(150deg, #0bceb7 10%, #09b3af 70%, #09b3af 94%);
    background: -webkit-linear-gradient(150deg, #0bceb7 10%, #09b3af 70%, #09b3af 94%);
    background: linear-gradient(150deg, #0bceb7 10%, #09b3af 70%, #09b3af 94%);
  }
  &.blue {
    background-color: #1c67c9;
    background: -moz-linear-gradient(150deg, #4292d3 10%, #1c67c9 70%, #1c67c9 94%);
    background: -webkit-linear-gradient(150deg, #4292d3 10%, #1c67c9 70%, #1c67c9 94%);
    background: linear-gradient(150deg, #4292d3 10%, #1c67c9 70%, #1c67c9 94%);
  }
  &:disabled {
    background-color: $grey;
    background: $grey;
  }
}