@import "./_vars";

aside {
  &.menu {
    background: $grey-lighter;
    height: 100%;
    min-height: $app-height ;
  }
}

.app-logo {
  background: $grey-lighter;
  padding: $panel-heading-padding;
  padding-bottom: 1em;
  h1 {
    font-size: $size-2;
  }
}