.coin-sprite {
    float: left;
    width: 16px;
    height: 16px;
    line-height: 16px;
    &.BTC,
    &.ETH,
    &.LTC,
    &.BCH,
    &.SC,
    &.MONA,
    &.XMR,
    &.XRP {
        background-image: url('./assets/sprites/coins_0.png');
        background-size: 176px 158px;
    }
    &.BTC { background-position: 0 -142px; }
    &.ETH { background-position: -128px -48px; }
    &.LTC { background-position: -112px -16px; }
    &.BCH { background-position: -48px -142px; }
    &.SC { background-position: -32px -62px; }
    &.MONA { background-position: -64px -94px; }
    &.XMR { background-position: -48px -94px; }
    &.XRP { background-position: -64px -62px; }

    &.ZEN {
        background-image: url('./assets/sprites/coins_1.png');
        background-size: 176px 164px;
    }
    &.ZEN { background-position: 0 0; }
}
