.folio {
    /***** Light theme *****/
    &.light {
        // color: $grey-dark;
        background: $white;
        aside {
            &.menu {
                background: $grey-lightest;
                .app-logo {
                    color: $black;
                    .tag {
                        color: $grey;
                        background: $grey-lightest;
                    }
                }
                .menu-list {
                    a {
                        color: $grey-dark;
                        &:hover {
                            background: $grey-lighter;
                        }
                        &.is-active {
                            background: $white;
                        }
                    }
                }
                .conn-status {
                    color: $grey-dark;
                }
            }
        }
        .sort-wrapper {
            button {
                color: $blue;
                border-bottom: 1px dotted $blue;
                &:disabled {
                    color: $black;
                }
            }
        }
        .views-wrapper {
            border-bottom: 1px solid $grey-lighter;
            div {
                a {
                    border-bottom: 1px solid $grey-lighter;
                    color: $grey-lighter;
                    &:hover {
                        color: $grey-light;
                    }
                    &.active {
                        color: $grey-dark;
                        border: 1px solid $grey-lighter;
                        border-bottom: 1px solid $white;
                        &:hover {
                            color: $grey-dark;
                        }
                    }
                }
            }
        }
        .watchlist-card-wrapper {
            .watchlist-card {
                .last-trade {
                    color: $grey-light;
                }
            }
        }
        .wallets-wrapper {
            .coin-wallet-header {
                color: $black;
                background: $grey-lightest;
                border: 1px solid $grey-lighter;
            }
            .delete-wallet-confirmation {
                background-color: $grey-lightest;
            }
        }
    }

    /***** Dark theme *****/
    &.dark {
        color: $grey-lightest;
        background: $grey-dark;
        a {
            &:hover {
                color: $grey-lighter;
            }
        }
        h6 {
            color: $white;
        }
        aside {
            &.menu {
                background: $grey-darker;
                .app-logo {
                    color: $white;
                    .tag {
                        color: $grey;
                        background: $grey-darker;
                    }
                }
                .menu-list {
                    a {
                        color: $grey-lightest;
                        &:hover {
                            background: $grey-darkest;
                        }
                        &.is-active {
                            background: $grey-dark;
                        }
                    }
                }
                .conn-status {
                    color: $grey-lightest;
                }
            }
        }
        div {
            &.select {
                select {
                    background: $grey-dark;
                    color: $grey-lightest;
                }
            }
        }
        table {
            background-color: $grey-dark;
            color: $grey-lightest;
            thead {
                tr {
                    th {
                        border-color: $grey;
                        color: $grey-lightest;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-color: $grey;
                    }
                }
            }
            &.is-striped {
                tbody {
                    tr {
                        &:not(.is-selected):nth-child(even) {
                            background-color: $grey-darker;
                        }
                        &:hover {
                            td {
                                background-color: $grey;
                            }
                        }
                    }
                }
            }
        }
        .sort-wrapper {
            button {
                color: $blue-light;
                border-bottom: 1px dotted $blue-light;
                &:disabled {
                    color: $white;
                }
            }
        }
        .views-wrapper {
            border-bottom: 1px solid $grey;
            div {
                a {
                    border-bottom: 1px solid $grey;
                    color: $grey;
                    &:hover {
                        color: $grey-light;
                    }
                    &.active {
                        color: $white;
                        border: 1px solid $grey;
                        border-bottom: 1px solid $grey-dark;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
        .watchlist-card-wrapper {
            color: $grey-lighter;
            .watchlist-card {
                background-color: $grey-darker;
                border-color: $black;
                strong {
                    color: $white;
                }
                .last-trade {
                    color: $grey;
                }
            }
            .watchlist-card-thumb {
                background-color: $grey-darker;
                .coin-name {
                    color: $white;
                }
            }
        }
        .wallets-wrapper {
            .coin-wallet-header {
                background: $grey-darker;
                border: 1px solid $grey-dark;
            }
            .delete-wallet-confirmation {
                background-color: $grey;
            }
        }
        .modal {
            .modal-card-head,
            .modal-card-foot {
                background-color: $grey-dark;
                .modal-card-title {
                    color: $white;
                }
                button {
                    &.button {
                        background-color: $grey-lighter;
                        &.is-success {
                            background-color: $green;
                        }
                        &.delete {
                            color: $white;
                            background: rgba(10, 10, 10, 0.8);
                        }
                    }
                    &:hover {
                        border-color: $grey-darkest;
                    }
                }
            }
            .modal-card-body {
                color: $grey-lightest;
                background-color: $grey;
                label {
                    color: $grey-lightest;
                }
                input {
                    .input {
                        background-color: $grey-lightest;
                    }
                }
            }
        }
    }
}