.folio {
    &.light {
        // color: $grey-dark;
        background: $white;
        aside {
            &.menu {
                background: $grey-lightest;
                .app-logo {
                    color: $grey;
                    .tag {
                        color: $grey;
                        background: $white;
                    }
                }
                .menu-list {
                    a {
                        color: $grey-dark;
                        &:hover {
                            background: $grey-lighter;
                        }
                        &.is-active {
                            background: $white;
                        }
                    }
                }
                .conn-status {
                    color: $grey-dark;
                }
            }
        }
        .watchlist-card-wrapper {
            .watchlist-card {
                .last-trade {
                    color: $grey-light;
                }
            }
        }
    }
    &.dark {
        color: $grey-lightest;
        background: $grey-dark;
        a {
            &:hover {
                color: $grey-lighter;
            }
        }
        h6 {
            color: $white;
        }
        aside {
            &.menu {
                background: $grey-darker;
                .app-logo {
                    color: $grey-light;
                    .tag {
                        color: $grey-dark;
                        background: $grey-light;
                    }
                }
                .menu-list {
                    a {
                        color: $grey-lightest;
                        &:hover {
                            background: $grey-darkest;
                        }
                        &.is-active {
                            background: $grey-dark;
                        }
                    }
                }
                .conn-status {
                    color: $grey-lightest;
                }
            }
        }
        div {
            &.select {
                select {
                    background: $grey-dark;
                    color: $grey-lightest;
                }
            }
        }
        table {
            background-color: $grey-dark;
            color: $grey-lightest;
            thead {
                tr {
                    th {
                        border-color: $grey;
                        color: $grey-lightest;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-color: $grey;
                    }
                    &:not(.is-selected):nth-child(even) {
                        background-color: $grey-darker;
                    }
                    &:hover {
                        td {
                            background-color: $grey;
                        }
                    }
                }
            }
        }
        .watchlist-card-wrapper {
            color: $grey-lighter;
            .watchlist-card {
                background-color: $grey-darker;
                border-color: $black;
                strong {
                    color: $white;
                }
                .last-trade {
                    color: $grey;
                    background-color: $grey-dark;
                }
            }
            .watchlist-card-thumb {
                background-color: $grey-darker;
                .coin-name {
                    color: $white;
                }
            }
        }
    }
}