@import "tailwind-preflight.css";
@import "tailwind-utilities.css";

.conn-status {
    @apply .tw-pin-b .tw-fixed .tw-w-full .tw-ml-2 .tw-mb-1 .tw-text-xs;
}

.watchlist-card {
    @apply .tw-overflow-hidden .tw-shadow .tw-border .tw-rounded-sm .tw-text-xs;
}
.watchlist-card-thumb {
    @apply .tw-float-left .tw-p-2 .tw-mr-2;
}
.watchlist-card-details {
    @apply .tw-p-2;
}

h6.settings {
    @apply .tw-mt-2 .tw-p-2 .tw-font-semibold;
}

.edit-quantity {
    cursor: pointer;
    @apply .tw-absolute .tw-pin-t .tw-pin-r .tw-mt-1 .tw-mr-1;
}