@import "tailwind-preflight.css";
@import "tailwind-utilities.css";

.conn-status {
    @apply .tw-pin-b .tw-fixed .tw-w-full .tw-ml-2 .tw-mb-1 .tw-text-xs;
}

.watchlist-card-wrapper {
    @apply .tw-w-1/2 .tw-float-left .tw-p-1;
}
.watchlist-card {
    @apply .tw-w-full .tw-overflow-hidden .tw-bg-grey-lightest .tw-shadow .tw-border .tw-rounded-sm .tw-text-xs;
}
.watchlist-card-thumb {
    @apply .tw-float-left .tw-p-2 .tw-mr-2 .tw-bg-grey-lighter;
}
.watchlist-card-details {
    @apply .tw-p-2;
}

h6.settings {
    @apply .tw-mt-2 .tw-p-2 .tw-font-semibold;
}

/* .dark .watchlist-card-wrapper .coin-price {
} */
/* .dark .watchlist-card {
    @apply .tw-bg-grey-darker .tw-border-black;
} */
/* .dark .watchlist-card-thumb {
    @apply .tw-text-grey-lightest .tw-bg-grey-darkest;
} */